@font-face {
  font-family: 'sf-pro-text';
  src: url('sf-pro-text-regular.ttf');
  font-style: normal;
  font-weight: normal;
  font-display: swap; // swap
}

@font-face {
  font-family: 'sf-pro-text';
  src: url('sf-pro-text-medium.ttf');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'sf-pro-text';
  src: url('sf-pro-text-bold.ttf');
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}
