$main-border-rgba: rgba(0, 0, 0, 0.1);
$background-outlet: #0000006e;
$main-background-window: #323232;
$application-dot-list: rgba(255, 255, 255, 0.4);
$border-bottom: #5FD3FF;
$placeholder: rgba(60, 60, 67, 0.5);
$input-border: rgba(0, 0, 0, 0.15);
$main-hover-background: #808080;
