// padding-и для адаптива
$page-content-padding-fl: 40px;

$page-content-padding-md-down: 30px;

$page-content-padding-small: 20px;

$page-content-padding-xxs-down: 16px;

$z-index-lang-select: 2;
$z-index-background-layout: 3;
$z-index-side-bar: 4;
$z-index-modal: 4;
$z-index-global-loader: 100;
