<div class="gl-page-wrapper gl-page-content"
     appScrollPage [_saveScroll]="true">
  <div class="top-block-wrapper">
    <div>
      <h1 class="gl-title-page">
        {{ 'PAGES.ARTISTS_GALLERY_PAGE.SUBTITLE' | translate }}
      </h1>

      <div itemscope itemtype="http://schema.org/BreadcrumbList"
           class="gl-path-link-wrapper">
        <a itemscope itemtype="http://schema.org/ListItem"
           itemprop="itemListElement" class="gl-bread-crumbs"
           [routerLink]="(['/'] | dynamicLink) | async">
          <span itemprop="name">ArtHall</span>
        </a>
        /
        <a itemscope itemtype="http://schema.org/ListItem"
           itemprop="itemListElement"
           class="gl-bread-crumbs">
          <span itemprop="name">{{ 'PAGES.ARTISTS_GALLERY_PAGE.SUBTITLE' | translate }}</span>
        </a>
      </div>
    </div>

    <app-input-search [searchControl]="searchControl"></app-input-search>
  </div>

  <app-artists-list [artistsWithSymbol]="viewedArtists$ | async"></app-artists-list>
</div>
