@import 'sizes';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  max-width: 100vw;
  max-height: 100vh;
}

.image {
  width: 100vw;
  height: 100vh;
  object-fit: contain;
}

.btn-wrapper {
  position: fixed;
  top: 20%;
  display: flex;
  flex-direction: column;
  width: 26px;
  height: 60px;
  border-radius: 60px;
  background-color: #fff;
}

.btn-size {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-size-image {
  width: 14px;
  height: 14px;

  &.mod-out {
    height: 3px;
  }
}

.btn-close {
  position: fixed;
  top: 30px;
  width: 16px;
  height: 30px;
}

.btn-wrapper, .btn-close {
  right: 60px;

  @include for-bg-down {
    right: 40px;
  }

  @include for-md-down {
    right: 20px;
  }

  @include for-sm-down {
    right: 10px;
  }
}
