@import 'sizes';
@import 'colors';

.modal-content {
  padding: 0 24px;
}

.modal-container {
  overflow: auto;
  max-height: 100vh;
  padding: 24px 0;
  width: 480px;
  background-color: #fff;
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.logo {
  width: 50px;
  height: 50px;
  background-image: url('/assets/icons/common/logo/logo-black.svg');
}

.btn-close {
  width: 16px;
  height: 16px;
  background-image: url('/assets/icons/common/close-btn/close-btn-black.svg');
  margin-top: 8px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-caption {
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 1px;
  padding-bottom: 22px;
  margin-bottom: 16px;
  position: relative;
  text-align: center;

  &:before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 98px;
    height: 4px;
    background-color: $main-border-rgba;
    border-radius: 60px;
  }
}

.main-content, .additional-content {
  width: 100%;
}

.content-text {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.3px;
  margin-bottom: 24px;
  text-align: center;
}

.content-image {
  min-height: 132px;
  width: 100%;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
}

.main-content-image {
  margin-bottom: 26px;

  &.mod-ru {
    background-image: url('/assets/images/subscription-modal/push-ru.jpg');
    @include for-sm-down {
      background-image: url('/assets/images/subscription-modal/push-subscribe-mobile-ru.jpg');
    }
  }

  &.mod-en {
    background-image: url('/assets/images/subscription-modal/push-en.jpg');
    @include for-sm-down {
      background-image: url('/assets/images/subscription-modal/push-subscribe-mobile-en.jpg');
    }
  }
}

.additional-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 300ms;

  &.mod-open {
    max-height: 200px;
  }
}

.additional-content-image {
  &.mod-ru {
    background-image: url('/assets/images/subscription-modal/push-subscribe-ru.jpg');
  }

  &.mod-en {
    background-image: url('/assets/images/subscription-modal/push-subscribe-en.jpg');
  }
}

.btn-subscribe {
  font-weight: bold;
  font-size: 18px;
  padding: 16px 58px;
  max-height: 50px;
  transition: max-height, padding 300ms;
  margin-top: 0 !important;

  &.mod-close {
    max-height: 0;
    overflow: hidden;
    padding: 0;
  }
}
